[package]
name = "bevy_oxr"
version = "0.1.0"
edition = "2021"
description = "Community crate for OpenXR in Bevy"
repository = "https://github.com/awtterpip/bevy_oxr"
license = "MIT/Apache-2.0"


[features]
default = ["vulkan"]
force-link = ["openxr/linked"]
vulkan = ["wgpu-core/vulkan"]
d3d12 = ["wgpu-core/dx12", "dep:winapi", "dep:d3d12"]

[workspace]
members = ["examples/android", "examples/demo"]

[dependencies]
# anyhow = "1.0.75"
ash = "0.37.3"
bevy = "0.13"
futures-lite = "2.0.1"
mint = "0.5.9"
winapi = { version = "0.3.9", optional = true }
wgpu = "0.19"
wgpu-core = { version = "0.19" }
wgpu-hal = "0.19"
d3d12 = { version = "0.19", features = ["libloading"], optional = true }
eyre = "0.6.11"

[target.'cfg(windows)'.dependencies]
openxr = { git = "https://github.com/Ralith/openxrs", rev = "0177d2d", features = [
	"linked",
	"static",
	"mint",
] }
[target.'cfg(all(target_family = "unix", not(target_arch = "wasm32")) )'.dependencies]
openxr = { git = "https://github.com/Ralith/openxrs", rev = "0177d2d", features = [
	"mint",
] }
[target.'cfg(all(not(target_family = "unix"), not(target_arch = "wasm32")))'.dependencies]
openxr = { git = "https://github.com/Ralith/openxrs", rev = "0177d2d", features = [
	"mint",
	"static",
] }

[target.'cfg(target_os = "android")'.dependencies]
ndk-context = "0.1"
jni = "0.20"

[dev-dependencies]
bevy = "0.13"
bevy_rapier3d = { git = "https://github.com/devil-ira/bevy_rapier", branch = "bevy-0.12" }
color-eyre = "0.6.2"

[[example]]
name = "xr"
path = "examples/xr.rs"

[profile.release]
debug = true

[patch.crates-io]
# ndk = { git = "https://github.com/Schmarni-Dev/ndk.git", branch = "070" }
